@use '../styles/theme';

:local(.toolbar) {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 74px;
  display: flex;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid theme.$border1-color;

  @media (min-width: theme.$breakpoint-lg) {
    padding: 12px 24px;
    justify-content: space-between;
  }
}

:local(.content) {
  display: flex;
  flex: 1;
  justify-content: space-around;

  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;

  }
}
