{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "exclude": [
          "transform-regenerator"
        ],
        // false = do not polyfill stuff unneccessarily
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    // TODO: When i18n build pipeline is finished move to: [ "react-intl", { "removeDefaultMessage": true } ]
    "react-intl",
    "transform-react-jsx-img-import",
    "@babel/proposal-object-rest-spread",
    // Samsung Internet on the Oculus Go version is stuck at version 5.2, which is a 
    // Chromium 51, as of this writing. It needs babel to transpile async/await.
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
